<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PALINDROME member portal</title>
</head>
<body>
<h1>Welcome!</h1>
<h2>Enter the password to gain access to PALINDROME's secret online chat room!</h2>
<h3>Note: upon entering the correct password, it will take some time (up to 10 seconds) for the portal to give you the ticket to enter. Please be patient and do not refresh if you do not see any error yet. Please also use this portal with courtesy as there are limited resource available. This portal and its server has zero attack targets and no brute forcing is needed. There ARE other services running on the same server and DO NOT ATTACK them. This portal is purely here for displaying information to you.</h3>
<form action="/check" method="post">
    <label>Password:
        <input type="password" name="password" placeholder="password">
    </label>
    <input type="submit" value="Login">
</form>
</body>
</html>